@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');



body{
    background-color: #333;
    color:white;
    font-family: 'Quicksand', sans-serif;    
}

/// NAVBAR STYLE STARTS HERE

.nav-bar{
    background: #3E4044;
    margin-bottom: 0;
    padding: 10px 2px;

    .active{
        // background: red;
        border-bottom: 3px solid black;
    }
    
}
.logoimg{
    width: 100%;
}

.explore-links{
    display: flex;
    // padding-top: 8px;
    justify-content: space-evenly;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    .home{
        color:white
    }    
    .art-work{
        color:  #CAFF95;
        
    }
    .blogs{
        color: #FFD850;
    }
    .contests{
        color:#7BB8FF;
    }
    .forum{
        color:
        #5EFFB1;
    }
}

.navlinktext{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    font-size: 20px;
    padding-top: 10px;

}

.sidenav{
    background-color:#3E4044;
    li{
        &:hover{
            background-color: #2B2C2E;
        }
    }
    .active{
        background: #2B2C2E;
    }
    img{
        width: 90%;
        margin-top: 15px;
        margin-left: 5px;
        
    }
    .home{
        color:white;
    }    
    .art-work{
        color:  #CAFF95;

    }
    .blogs{
        color: #FFD850;
    }
    .contests{
        color:#7BB8FF;
    }
    .forum{
        color:
        #5EFFB1;
    }
    
    .signup{
        color:white;
    }
    .login{
        color: white;
    }
}

.hamburgur{
    display: none;
}
.account-links{
    display: flex;
    justify-content: space-evenly;
    border-left:2.5px solid #61646A;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #FFFFFF;

    .signup{
        background: #EB5757;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        font-size: 25px;
        border-radius: 15px;
    }
    .login{
        color: white;
    }   
}
.modal{
    width: 50%;
    padding: 0;
    background-color: transparent;
}

// when i have to show Logo in center  and a hamburgur menu

.signup-panel{
    background-color:#333333;
    width: 100%;
    // margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    // text-align: center;
    .aBtn{
        width:87%;
        display:flex;
        cursor: pointer;
        justify-content: center;
        margin: 0px auto;
        margin-top:10px ;        
        border-radius: 10px;
        background-color: #3E4044;
    }
    .btncontent{
        width:70%;
        display: flex;
        padding: 8px 10px;
        .aname{
            font-size: 25px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
        }
        .aicon{
            padding-right:10px;
            padding-top: 5px;
        }
        img{
            width: 30px;
        }
    }
    .OR{
        text-align: center;
        margin-top:10px;
        font-size:25px;
        font-weight:200;
        color: #989898;
    }

    input{
        display: block;
        width: 80%;
        margin:10px auto;
        height:40px;
        border-radius: 5px;
        border: none;
        padding:5px 12px;
        font-size: 17px;
    }

    .actionBtn{
        width: 80%;
        text-align:center;
        background-color:#3E4044 ;
        margin: 10px auto;
        padding:8px 15px;
        font-size: 20px;
        color: white;
        letter-spacing: 1px;
        cursor:pointer;
        border-radius: 2px;
    }


}


.displaynone{
    display: none;
}

.displayit{
    display: block;
}

.switch{
    font-size: 20px;
    label{
        font-size: 20px;
    }
}

.dropdown-content{
    background: #333;
    border-radius: 10px;
    position: relative;
    top: -50px;
    // left: -10px;
    width: 100px;

    .selected{
        color: #B0FFBD;
    }
    li{
        a{
            color: white;
        }
    }
    
    li:hover{
        background: #61646A;
        a{
            color:#B0FFBD;
        }
    }
}

.profileInSidenav{
    display: flex;
    .usernameP{
        margin-left: 20px;
        font-size: 20px;
    }

    .profileLink{
        margin-top: 5px;
        margin-left: 10px;
    }
}

.material-icons{
    cursor: pointer;
}
.profileLink{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid #5EFFB1 ;

    // margin-left: 30px;
}
#accountBtns{
    display: flex;
    justify-content: space-evenly;
    border-left:2.5px solid #61646A;
    .profileLink{
        width: 40px;
        height: 40px;
        background-color: black;
        border-radius: 50%;
        // margin-left: 30px;
    }
}
@media screen and (max-width: 992px) {
    // .brand-name{
    //     margin-left: 140%;

    // }
    .logoimg{
        width: 130%;
        margin-left: 100%;
    }
    .hamburgur{
        display: block;
        i{
            font-size: 50px;
            display: block;
            padding-left: 10px;
        }
    }

    .modal{
        width: 85%;
    }
}


@media screen and (max-width:750px){
    .logoimg{
        width: 250%;
        margin-left: 100%;
    }
}


@media screen and (max-width:600px){
    .logoimg{
        width: 360%;
        margin-top:5px;
        margin-left: 100%;
    }

}
/// NAVBAR STYLE ENDS HERE





.coverPhoto{
    width: 100%;
    height: 280px;
    // background-color: rgb(32, 94, 124);
    background-image: url('wallpapersden.com_minimal-ship-artwork-purple-background_1280x7202.jpg');
    background-color: #3E4044;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    h1{ 
       
        font-size: 40px;
        padding: 0;
        margin: 0;
        margin-top: 10%;
    }
    p{
        font-size: 16px;
        padding: 0;
        margin: 0;
        margin: 5px 0;
        color: #CACACA;
    }
    .profilePicture{
        width:100px;
        height: 100px;
        border-radius: 50px;
        background-color: #333;
    }

    .details{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    
    img{
        width: 15%;
    }

}

.container{
    width: 90%;
    margin-top: 10px;
}

.myuploads{
    padding: 5px 10px;
    background-color: #3E4044;
    border-radius: 10px;
    .headers{
        text-align: center;
        color: #CAFF95;
        font-size: 20px;
    }
    
    .card-panel{
        height: 200px;
    }

    .upload1{
        background-color: #F2C94C;
    }
    .upload2{
        background-color: #6FCF97;
    }
    .upload3{
        background-color: #F2994A;
    }
    .upload4{
        background-color: #EB5757;
    }
    .upload5{
        background-color: #FFF7B0;
    }   
    .upload6{
        background-color: #9B51E0;
    }

}

.mybio{
    background-color: #3E4044;
    border-radius: 10px;
    .headers{
        color: #EB5757;
        font-size: 20px;
    }
}

.mysaves{
    background-color: #3E4044;
    border-radius: 10px;
    .headers{
        margin-bottom: 20px;        
        color: #7BB8FF;
        font-size: 20px;
    }
}

.panels{
    // display: flex;
    height: 100px;
    .card-panels{
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }
    .p1{
        background-color: #F2C94C;
        position: relative;
        left: 0px;
    }
    .p2{
        background-color: #6FCF97;
        position: relative;
        left: 40px;
        top: -100px;
    }
    .p3{
        background-color: #F2994A;
        position: relative;
        left: 80px;
        top: -200px;
    }
    .p4{
        background-color: #EB5757;
        position: relative;
        left: 120px;
        top: -300px;

    }
    .p5{
        background-color: #FFF7B0;
        position: relative;
        left: 160px;
        top: -400px;

    }
    .p6{
        background-color: #9B51E0;
        position: relative;
        left: 200px;
        top: -500px;

    }
}
@media screen and (min-width : 850px ){
 .coverPhoto{
    .details{
        width: 25%;

    }
 }
}



.footer{
    height: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    width:100%;
    margin: 2px auto;
    text-align: center;
    border-radius: 5px;
    background-color: #3E4044;
    color: white;

    &:hover{
        color: #3E4044;
        background: white;
    }
}

@media screen and (max-width:800px){
    .myuploads{
        .card-panel{
            width: 90%;
            margin: 10px auto;
        }
    }
    .footer{
        font-size:11px;
        padding-top: 12px;
    }
}

@media screen and (max-width:500px){
    
    .container{
        width: 90%;
    }

    .footer{
        font-size:9px;
    }
}