@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
body {
  background-color: #333;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.nav-bar {
  background: #3E4044;
  margin-bottom: 0;
  padding: 10px 2px;
}

.nav-bar .active {
  border-bottom: 3px solid black;
}

.logoimg {
  width: 100%;
}

.explore-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
}

.explore-links .home {
  color: white;
}

.explore-links .art-work {
  color: #CAFF95;
}

.explore-links .blogs {
  color: #FFD850;
}

.explore-links .contests {
  color: #7BB8FF;
}

.explore-links .forum {
  color: #5EFFB1;
}

.navlinktext {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  font-size: 20px;
  padding-top: 10px;
}

.sidenav {
  background-color: #3E4044;
}

.sidenav li:hover {
  background-color: #2B2C2E;
}

.sidenav .active {
  background: #2B2C2E;
}

.sidenav img {
  width: 90%;
  margin-top: 15px;
  margin-left: 5px;
}

.sidenav .home {
  color: white;
}

.sidenav .art-work {
  color: #CAFF95;
}

.sidenav .blogs {
  color: #FFD850;
}

.sidenav .contests {
  color: #7BB8FF;
}

.sidenav .forum {
  color: #5EFFB1;
}

.sidenav .signup {
  color: white;
}

.sidenav .login {
  color: white;
}

.hamburgur {
  display: none;
}

.account-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-left: 2.5px solid #61646A;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
}

.account-links .signup {
  background: #EB5757;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  font-size: 25px;
  border-radius: 15px;
}

.account-links .login {
  color: white;
}

.modal {
  width: 50%;
  padding: 0;
  background-color: transparent;
}

.signup-panel {
  background-color: #333333;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.signup-panel .aBtn {
  width: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #3E4044;
}

.signup-panel .btncontent {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 10px;
}

.signup-panel .btncontent .aname {
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.signup-panel .btncontent .aicon {
  padding-right: 10px;
  padding-top: 5px;
}

.signup-panel .btncontent img {
  width: 30px;
}

.signup-panel .OR {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 200;
  color: #989898;
}

.signup-panel input {
  display: block;
  width: 80%;
  margin: 10px auto;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 5px 12px;
  font-size: 17px;
}

.signup-panel .actionBtn {
  width: 80%;
  text-align: center;
  background-color: #3E4044;
  margin: 10px auto;
  padding: 8px 15px;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 2px;
}

.displaynone {
  display: none;
}

.displayit {
  display: block;
}

.switch {
  font-size: 20px;
}

.switch label {
  font-size: 20px;
}

.dropdown-content {
  background: #333;
  border-radius: 10px;
  position: relative;
  top: -50px;
  width: 100px;
}

.dropdown-content .selected {
  color: #B0FFBD;
}

.dropdown-content li a {
  color: white;
}

.dropdown-content li:hover {
  background: #61646A;
}

.dropdown-content li:hover a {
  color: #B0FFBD;
}

.profileInSidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileInSidenav .usernameP {
  margin-left: 20px;
  font-size: 20px;
}

.profileInSidenav .profileLink {
  margin-top: 5px;
  margin-left: 10px;
}

.material-icons {
  cursor: pointer;
}

.profileLink {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid #5EFFB1;
}

#accountBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-left: 2.5px solid #61646A;
}

#accountBtns .profileLink {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .logoimg {
    width: 130%;
    margin-left: 100%;
  }
  .hamburgur {
    display: block;
  }
  .hamburgur i {
    font-size: 50px;
    display: block;
    padding-left: 10px;
  }
  .modal {
    width: 85%;
  }
}

@media screen and (max-width: 750px) {
  .logoimg {
    width: 250%;
    margin-left: 100%;
  }
}

@media screen and (max-width: 600px) {
  .logoimg {
    width: 360%;
    margin-top: 5px;
    margin-left: 100%;
  }
}

.coverPhoto {
  width: 100%;
  height: 280px;
  background-image: url("wallpapersden.com_minimal-ship-artwork-purple-background_1280x7202.jpg");
  background-color: #3E4044;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.coverPhoto h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
  margin-top: 10%;
}

.coverPhoto p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin: 5px 0;
  color: #CACACA;
}

.coverPhoto .profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #333;
}

.coverPhoto .details {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.coverPhoto img {
  width: 15%;
}

.container {
  width: 90%;
  margin-top: 10px;
}

.myuploads {
  padding: 5px 10px;
  background-color: #3E4044;
  border-radius: 10px;
}

.myuploads .headers {
  text-align: center;
  color: #CAFF95;
  font-size: 20px;
}

.myuploads .card-panel {
  height: 200px;
}

.myuploads .upload1 {
  background-color: #F2C94C;
}

.myuploads .upload2 {
  background-color: #6FCF97;
}

.myuploads .upload3 {
  background-color: #F2994A;
}

.myuploads .upload4 {
  background-color: #EB5757;
}

.myuploads .upload5 {
  background-color: #FFF7B0;
}

.myuploads .upload6 {
  background-color: #9B51E0;
}

.mybio {
  background-color: #3E4044;
  border-radius: 10px;
}

.mybio .headers {
  color: #EB5757;
  font-size: 20px;
}

.mysaves {
  background-color: #3E4044;
  border-radius: 10px;
}

.mysaves .headers {
  margin-bottom: 20px;
  color: #7BB8FF;
  font-size: 20px;
}

.panels {
  height: 100px;
}

.panels .card-panels {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.panels .p1 {
  background-color: #F2C94C;
  position: relative;
  left: 0px;
}

.panels .p2 {
  background-color: #6FCF97;
  position: relative;
  left: 40px;
  top: -100px;
}

.panels .p3 {
  background-color: #F2994A;
  position: relative;
  left: 80px;
  top: -200px;
}

.panels .p4 {
  background-color: #EB5757;
  position: relative;
  left: 120px;
  top: -300px;
}

.panels .p5 {
  background-color: #FFF7B0;
  position: relative;
  left: 160px;
  top: -400px;
}

.panels .p6 {
  background-color: #9B51E0;
  position: relative;
  left: 200px;
  top: -500px;
}

@media screen and (min-width: 850px) {
  .coverPhoto .details {
    width: 25%;
  }
}

.footer {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 100%;
  margin: 2px auto;
  text-align: center;
  border-radius: 5px;
  background-color: #3E4044;
  color: white;
}

.footer:hover {
  color: #3E4044;
  background: white;
}

@media screen and (max-width: 800px) {
  .myuploads .card-panel {
    width: 90%;
    margin: 10px auto;
  }
  .footer {
    font-size: 11px;
    padding-top: 12px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
  .footer {
    font-size: 9px;
  }
}
/*# sourceMappingURL=style.css.map */